<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>0</integer>
		<key>cimage</key>
		<string>type_big_0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>1</integer>
		<key>cname</key>
		<string>一般</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>type_big_1</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>2</integer>
		<key>cname</key>
		<string>就餐</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>type_big_2</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>3</integer>
		<key>cname</key>
		<string>零食</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>type_big_3</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>4</integer>
		<key>cname</key>
		<string>充值</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>4</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>5</integer>
		<key>cname</key>
		<string>购物</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>5</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>6</integer>
		<key>cname</key>
		<string>娱乐</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>6</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>7</integer>
		<key>cname</key>
		<string>住房</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>7</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>8</integer>
		<key>cname</key>
		<string>日杂</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>8</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>9</integer>
		<key>cname</key>
		<string>鞋帽</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>9</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>10</integer>
		<key>cname</key>
		<string>护肤</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>10</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>11</integer>
		<key>cname</key>
		<string>丽人</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
	<dict>
		<key>cid</key>
		<integer>0</integer>
		<key>cname</key>
		<string>工资</string>
		<key>ctype</key>
		<integer>1</integer>
		<key>cimage</key>
		<string>0</string>
	</dict>
</array>
</plist>
